<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand" style="background-color: white;">
  <div class="container-fluid">
  <!-- <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
  <a class="navbar-brand me-1 me-sm-3" href="index.html">
    <div class="d-flex align-items-center"><img class="me-2" src="" alt="" width="40" /><span class="font-sans-serif"></span>
    </div>
  </a>
  <div class="d-flex align-items-center">
    <div class="toggle-icon-wrapper">
      <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip"
        data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span
            class="toggle-line"></span></span></button>
    </div>
    <a class="navbar-brand" href="">
      <div class="d-flex align-items-center py-3"><img class="me-2 logo-img" src="assets/img/logos/Logo-Dashboard.png"
          alt="" /><span class="font-sans-serif"></span>
      </div>
    </a>
  </div> -->
  <!-- <ul class="navbar-nav flex-row d-none d-md-flex">
    <li class="nav-item me-3 me-lg-1">
      <a class="nav-link" href="#">
        <span><i class="fas fa-flag fa-lg"></i></span>
      </a>
    </li>
    
  </ul>
  <ul class="navbar-nav flex-row">
    <li class="nav-item me-3 me-lg-1">
      <a class="nav-link d-sm-flex align-items-sm-center" href="#">
        <img
          src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"
          class="rounded-circle"
          height="22"
          alt="Black and White Portrait of a Man"
          loading="lazy"
        />
        <strong class="d-none d-sm-block ms-1">John</strong>
      </a>
    </li>
    <li class="nav-item me-3 me-lg-1">
      <a class="nav-link" href="#">
        <span><i class="fas fa-plus-circle fa-lg"></i></span>
      </a>
    </li>
    <li class="nav-item dropdown me-3 me-lg-1">
      <a
        class="nav-link dropdown-toggle hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-comments fa-lg"></i>

        <span class="badge rounded-pill badge-notification bg-danger">6</span>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" href="#">Some news</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Another news</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Something else here</a>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown me-3 me-lg-1">
      <a
        class="nav-link dropdown-toggle hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-bell fa-lg"></i>
        <span class="badge rounded-pill badge-notification bg-danger">12</span>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" href="#">Some news</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Another news</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Something else here</a>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown me-3 me-lg-1">
      <a
        class="nav-link dropdown-toggle hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-chevron-circle-down fa-lg"></i>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" href="#">Some news</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Another news</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Something else here</a>
        </li>
      </ul>
    </li>
  </ul> -->
  <ul class="navbar-nav align-items-center d-none d-lg-block">
    <li class="nav-item">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search">
        </div>
    </li>
  </ul>
  <ul class="navbar-nav navbar-nav-icons flex-row align-items-center">
    <li class="nav-item px">
      <div class="float-right">
        <div class="p-2 flex-fill" style="text-align: -webkit-center; color: #141414;">
          <select class="select-lang" aria-label=".form-select-sm example">
            <option selected=""><img src="assets/img/icons/english-lang.png" width="22" height="16">English</option>
            <option value="1">Arabic</option>
            
          </select></div>
      </div>
    </li>
    
    <li class="nav-item dropdown">
      <button class="btn-notification mx-2" type="button"><svg xmlns="http://www.w3.org/2000/svg"
        width="20" height="20" viewBox="0 0 20 20" fill="none">
        <g clip-path="url(#clip0_1184_191246)">
          <path
            d="M9.99935 5.00033V10.0003L13.3327 11.667M18.3327 10.0003C18.3327 14.6027 14.6017 18.3337 9.99935 18.3337C5.39698 18.3337 1.66602 14.6027 1.66602 10.0003C1.66602 5.39795 5.39698 1.66699 9.99935 1.66699C14.6017 1.66699 18.3327 5.39795 18.3327 10.0003Z"
            stroke="#545454" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
        </g>
        <defs>
          <clipPath id="clip0_1184_191246">
            <rect width="20" height="20" fill="white" />
          </clipPath>
        </defs>
      </svg><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1"></span></button>
    </li>
    <li class="nav-item d-none d-sm-block">
      <button class="btn btn-falcon-default btn-sm mx-2 btn-notification" type="button"><img src="assets/img/icons/notification.png" width="20" height="20"><span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1"></span></button>
    </li>
    
    <li class="nav-item dropdown">
      <a class="nav-link pe-0 ps-2"  id="navUser" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="avatar avatar-xl btn-avatar">
          <img class="rounded-circle" src="assets/img/icons/Avatar.png" height="40px" width="40px" alt="" />
        </div>
      </a>
      <div  class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0 mt-2" aria-labelledby="navUser">
        <div class="bg-white dark__bg-1000 rounded-2 py-2">
          <a class="dropdown-item fw-bold text-warning" href="#!"><img src="assets/img/icons/Avatar.png" height="40px" width="40px"><span>Go Pro</span></a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Manage Profile</a>
          <a class="dropdown-item" href="">Cookies preferences</a>
          <a class="dropdown-item" href="#!">Cookie policy</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="" (click)="Logout()">Logout
          </a>
        </div>
      </div>
    </li>
  </ul>
  </div>
</nav>
