<div class="card mb-3 border-radius-4">
    <div class="card-header bg-light p-32 cb-header-border">
        <br>
        <div class="row justify-content-between gx-0">
            <div class="col-auto">
                <h1 class="mb-0 font-heading clr-dark">Item photos</h1>
            </div>
            <div *ngIf="selectedFiles" class="col-sm-2">
                <a  class="link-del" (click)="deleteImage()">Delete</a>
            </div>
        </div>
        <!-- <h6 class="mb-0 font-heading clr-dark">Item photos</h6> -->
        
    </div>
    <div class="dropzone dropzone-single p-0 dz-clickable dz-file-processing dz-file-complete b-0 dz-txt px-4 mt-0"
        data-dropzone="data-dropzone"
        data-options="{&quot;maxFiles&quot;:1,&quot;acceptedFiles&quot;:&quot;image/*&quot;}">

        <div *ngIf="!selectedFiles" class="dz-message fs--1 px-2" data-dz-message="data-dz-message">
            <img type="file" class="me-2" src="../../../assets/img/icons/cloud-upload.svg" width="30" height="30" alt=""
                (click)="selectImage.click()"/>
            <input type="file" (change)="selectFiles($event)" accept=".png, .jpg, .jpeg" style="display: none" #selectImage />
            <span class="d-none d-lg-inline">Drag image here </span><span class="dz-upload-txt">upload</span> or <span
                class="dz-upload-txt">browse image library</span>.<br> SVG, PNG, JPG or GIF (max. 400x400px)
        </div>
        
        <div *ngIf="previews.length > 0">
            <div class="row justify-content-md-center pb-4">
                <div class="col col-md-4 d-flex justify-content-center text-center">
                  
                    <div class="thumbnail align-text-bottom text-center">
                        <img *ngFor='let preview of previews' [src]="preview" class="center-block">
                    </div>
                </div>
              </div>
            
            <div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
                <ul *ngFor="let msg of message; let i = index">
                    <li>{{ msg }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>  
