  <apx-chart #chartAnalytics
  [series]="chartAreaAnalytics.series"
  [fill]="chartAreaAnalytics.fill"
  [chart]="chartAreaAnalytics.chart"
  [colors]="chartAreaAnalytics.colors"
  [yaxis]="chartAreaAnalytics.yaxis"
  [dataLabels]="chartAreaAnalytics.dataLabels"
  [markers]="chartAreaAnalytics.markers"
  [stroke]="chartAreaAnalytics.stroke"
  [grid]="chartAreaAnalytics.grid"
  [xaxis]="chartAreaAnalytics.xaxis"
  [tooltip]="chartAreaAnalytics.tooltip"
  [annotations]="chartAreaAnalytics.annotations"
></apx-chart>